@charset "utf-8";
/* CSS Document */
text {
    font: 12px sans-serif;
}
svg {
    display: block;
}
html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
#id_main_output_scatter, svg {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
body {
	font-family: sans-serif;
	font-size: 15px;
	margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}
h1 { 
    font-size: 1.6em;
    text-align: center;
    color: #54A2F2
}
h2 { 
    text-align: center;
    color: #F36326;
	font-size: 1.2em;
}
h3 {
    font-size: 1.2em;
    text-align: center;
    color: #F03B3E
}
.center-div { 
    width: 500px;
    margin-left: auto;
    margin-right: auto; 
}
.center-blue-div { width: 500px;
    height: 70px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #06989D;
    overflow: auto; 
    color: #F70A0E 
}

.center-blue-higher-div {
    width: 500px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #06989D;
    overflow: auto; 
    color: #1811EE 
}
.center-blue-longer-higher-div { 
    width: 1300px;
    height: 520px;
    margin-left: auto;
    margin-right: auto;
    border:1px solid #06989D;
    color: #F70A0E 
}
.button {
	font-family: sans-serif;
    background-color: #8FE0F5;
    border: none;
    padding: 10px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 13px;
    margin: 4px 2px;
    border-radius: 3px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.buttonShadow:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.blue-text-center-input {
    text-align: center;
    color: blue;
}
.red-text-left-input {
    text-align: left;
    color: red;
}
.red-text-right-input {
    text-align: right;
    color: red;
}

#id_main table {
	font-family: sans-serif;
	font-size:15px;
	color:#333333;
	border-width: 1px;
	border-color: #666666;
	border-collapse: collapse;
}
#id_main tr {
	text-align: center;
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #dedede;
}
#id_main td {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #ffffff;
}
#id_main th {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #8FE0F5;
}
#id_main caption {
	border-width: 1px;
	padding: 8px;
	border-style: solid;
	border-color: #666666;
	background-color: #8FE0F5;
}


#id_main_settings input {
    font-size: 15px;
}
.tooltips_left {
	font-family: sans-serif;
}